<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Screenshot.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Screenshot.App.Properties.Settings>
            <setting name="OutputFolderPath" serializeAs="String">
                <value>screenshots</value>
            </setting>
            <setting name="IsAutosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOverwriteIfExist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NamingStrategy" serializeAs="String">
                <value>timestamp</value>
            </setting>
            <setting name="DefaultImageFormat" serializeAs="String">
                <value>bmp</value>
            </setting>
        </Screenshot.App.Properties.Settings>
    </applicationSettings>
</configuration>